*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    width: 100%;
    color: red;
    padding: 10px;
    background-color: orange;
    border: 1px solid orange ;
}
ul {
    margin-left: 65px;
    margin-bottom: 25px;
    margin-top: 3px;
}
img{
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
}
h3 {
    color: orange;
    margin-left: 10px;
}
hr {
    margin: 10px;
}
h4 {
    color: blue;
    margin-left: 10px;
    margin-top: 10px;
}
.thongtin {
    display: flex;
}
.thongtin .benphai {
    margin-left: 10px;
}
p {
    margin: 10px;
    color: green;
}
span {
    color: rgb(236, 149, 35);
}